Source: edgetpuvision
Maintainer: Coral <coral-support@google.com>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9), libgstreamer1.0-dev, pkg-config
Standards-Version: 3.9.8
Homepage: https://coral.ai/

Package: python3-edgetpuvision
Architecture: any
Depends: ${misc:Depends},
         ${python3:Depends},
         gir1.2-glib-2.0,
         gir1.2-gst-plugins-base-1.0,
         gir1.2-gstreamer-1.0,
         gir1.2-gtk-3.0,
         gstreamer1.0-gl,
         gstreamer1.0-plugins-bad,
         gstreamer1.0-plugins-good,
         gstreamer1.0-plugins-ugly,
         gstreamer1.0-python3-plugin-loader,
         python3-cairo,
         python3-edgetpu,
         python3-gi,
         python3-gi-cairo,
         python3-gst-1.0,
         python3-opengl,
         python3-numpy,
         python3-pil,
         python3-protobuf,
         weston
Recommends: imx-gst1.0-plugin,
Description: EdgeTPU camera API
 API to run inference on image data coming from the camera.

